<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

{#    {{ page.sidebar_first }}#}
{#    {{ page.sidebar_second }}#}
{#    {{ page.header }}#}
{#    {{ page.primary_menu }}#}
{#    {{ page.footer }}#}


<!-- header area start -->
<header class="header-pos gray-background">
  <div class="header-middle">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-12">
          <div class="logo">
            <a href="index.html"><img src="{{ base_path ~ directory ~ '/assets/img/logo/logo-sinrato.png' }}" alt="brand-logo"></a>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-12 order-sm-last">
          <div class="header-middle-inner">
            <form action="https://htmldemo.net/sinrato/sinrato/method" class="search-form">
              <input type="text" class="top-cat-field" placeholder="Search entire store here">
              <input type="button" class="top-search-btn" value="Search">
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 col-12 col-sm-8 order-lg-last">
          <div class="mini-cart-option">
            <ul>
              <li class="compare">
                <a class="ha-toggle" href="{{ url('sinratoPages_compare') }}"><span class="lnr lnr-sync"></span><span class="count">0</span>Compare</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header area end -->


{{ page.content }}


<!-- scroll to top -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div>
<!-- /End Scroll to Top -->

<!-- footer area start -->
<footer class="gray-background">
    <!-- footer top area start -->
    <div class="footer-top pt-50 pb-50">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-single-widget">
                        <div class="widget-title">
                            <div class="footer-logo mb-30">
                                <a href="index.html">
                                    <img src="{{ directory }}/assets/img/logo/logo-sinrato.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <p>We are a team of designers and developers that create high quality Magento,
                                Prestashop, Opencart.</p>
                        </div>
                    </div>
                </div> <!-- single widget end -->
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-single-widget">
                        <div class="widget-title">
                            <h4>Information</h4>
                        </div>
                        <div class="widget-body">
                            <div class="footer-useful-link">
                                <ul>
                                    <li><a href="about.html">about us</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Site Map</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- single widget end -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-single-widget">
                        <div class="widget-title">
                            <h4>contact us</h4>
                        </div>
                        <div class="widget-body">
                            <div class="footer-useful-link">
                                <ul>
                                    <li><span>Address:</span> 4710-4890 Breckinridge St,Fayetteville, NC 28311</li>
                                    <li><span>email:</span> support@sinrato.com</li>
                                    <li><span>Call us:</span> <strong>1-1001-234-5678</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- single widget end -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-single-widget">
                        <div class="widget-title">
                            <h4>Our Twitter Feed</h4>
                        </div>
                        <div class="widget-body">
                            <div class="twitter-article">
                                <div class="twitter-text">
                                    Check out "Alice - Multipurpose Responsive #Magento #Theme" on #Envato by <a
                                        href="#">@sinratos</a> #Themeforest <a href="#">https://t.co/DNdhAwzm88</a>
                                    <span class="tweet-time"><i class="fa fa-twitter"></i><a href="#">30
                                            sep</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- single widget end -->
            </div>
        </div>
    </div>
    <!-- footer top area end -->
    <!-- footer bottom area start -->
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom-content">
                        <div class="footer-copyright align-center">
                            <p>&copy; {{ 'now' | date('Y') }} <b>TechScout</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom area end -->
</footer>
<!-- footer area end -->

<!-- Quick view modal start -->
<div class="modal fade" id="quickk_view">
    <div class="container">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-large-slider mb-20">
                                <div class="pro-large-img">
                                    <img src="{{ directory }}/assets/img/product/product-4.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="{{ directory }}/assets/img/product/product-5.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="{{ directory }}/assets/img/product/product-6.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="{{ directory }}/assets/img/product/product-7.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="{{ directory }}/assets/img/product/product-8.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="{{ directory }}/assets/img/product/product-9.jpg" alt="" />
                                </div>
                            </div>
                            <div class="pro-nav">
                                <div class="pro-nav-thumb"><img src="{{ directory }}/assets/img/product/product-4.jpg" alt="" />
                                </div>
                                <div class="pro-nav-thumb"><img src="{{ directory }}/assets/img/product/product-5.jpg" alt="" />
                                </div>
                                <div class="pro-nav-thumb"><img src="{{ directory }}/assets/img/product/product-6.jpg" alt="" />
                                </div>
                                <div class="pro-nav-thumb"><img src="{{ directory }}/assets/img/product/product-7.jpg" alt="" />
                                </div>
                                <div class="pro-nav-thumb"><img src="{{ directory }}/assets/img/product/product-8.jpg" alt="" />
                                </div>
                                <div class="pro-nav-thumb"><img src="{{ directory }}/assets/img/product/product-9.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details-inner">
                                <div class="product-details-contentt">
                                    <div class="pro-details-name mb-10">
                                        <h3>Bose SoundLink Bluetooth Speaker</h3>
                                    </div>
                                    <div class="pro-details-review mb-20">
                                        <ul>
                                            <li>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </li>
                                            <li><a href="#">1 Reviews</a></li>
                                        </ul>
                                    </div>
                                    <div class="price-box mb-15">
                                        <span class="regular-price"><span class="special-price">£50.00</span></span>
                                        <span class="old-price"><del>£60.00</del></span>
                                    </div>
                                    <div class="product-detail-sort-des pb-20">
                                        <p>Canon's press material for the EOS 5D states that it 'defines (a) new
                                            D-SLR category', while we're not typically too concerned</p>
                                    </div>
                                    <div class="pro-details-list pt-20">
                                        <ul>
                                            <li><span>Availability :</span>In Stock</li>
                                        </ul>
                                    </div>
                                    <div class="product-availabily-option mt-15 mb-15">
                                        <h3>Available Options</h3>
                                        <div class="color-optionn">
                                            <h4><sup>*</sup>color</h4>
                                            <ul>
                                                <li>
                                                    <a class="c-black" href="#" title="Black"></a>
                                                </li>
                                                <li>
                                                    <a class="c-blue" href="#" title="Blue"></a>
                                                </li>
                                                <li>
                                                    <a class="c-brown" href="#" title="Brown"></a>
                                                </li>
                                                <li>
                                                    <a class="c-gray" href="#" title="Gray"></a>
                                                </li>
                                                <li>
                                                    <a class="c-red" href="#" title="Red"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pro-quantity-box mb-30">
                                        <div class="qty-boxx">
                                            <label>qty :</label>
                                            <input type="text" placeholder="0">
                                            <button class="btn-cart lg-btn">add to cart</button>
                                        </div>
                                    </div>
                                    <div class="pro-social-sharing">
                                        <label>share :</label>
                                        <ul>
                                            <li class="list-inline-item">
                                                <a href="#" class="bg-facebook" title="Facebook">
                                                    <i class="fa fa-facebook"></i>
                                                    <span>like 0</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="bg-twitter" title="Twitter">
                                                    <i class="fa fa-twitter"></i>
                                                    <span>tweet</span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="bg-google" title="Google Plus">
                                                    <i class="fa fa-google-plus"></i>
                                                    <span>google +</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quick view modal end -->
